.txt{

    text-align: center;
    animation: txt 7s ease-out infinite normal;
    font-size: 4em;
    text-transform: uppercase;

}

@keyframes txt {

0%{
    transform: scale(0.9);
}    

25%{
    transform: scale(1);
}    

60%{
    transform: scale(0.9);
}    

100%{
    transform: scale(1);
}    

}